{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-5">
            <h1 class="text-justify text-muted">Contact</h1>
            <p class="lead">The developer of this web application goes by Woei Ling, which can be pronounced as "whaling". His last name, Leow, rhymes with the sound made by a cat. An engineer by training, with a doctorate in engineering systems, he's now on a leave of absence from the <a href="http://www.lbl.gov/"> Lawrence Berkeley National Laboratory</a>  to attend the <a href="insightdatascience.com"> Insight Data Science Fellowship</a>.</p>
            <p class="lead">
              Have feedback or wish to get in touch? You can reach the developer at "leowwl _AT_ gmail _DOT_ com".
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
