{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <h2 class="text-justify text-muted">Disclaimer</h2>
            <p class="lead">
                
                The developer of AnalytiCar accepts no liability for the content of this site and the recommendations generated, or for the consequences of any actions taken on the basis of the information provided. Any recommendation provided by the AnalytiCar are intended as a general and informational guide
                <br><br>
                The AnalytiCar does not receive any financial support from any party, and does not represent any automobile manufacturer. Any mention of vehicle does not constitute an endorsement. 
                <br><br>
                It should be noted that the analytics conducted assumes that the daily workday commute constitutes the bulk of the travel undertaken in the vehicle, and additional non-workday trips do not significantly alter the cost of ownership. 
                <br><br>
                Future versions of the AnalytiCar may have an improved front end that enables the entering of additional commuting information in convenient and hopefully fun way.
                <br>

             <h2 class="text-justify text-muted">Copyright</h2> <br>
                Woei Ling Leow owns the copyright to this website  - All Rights Reserved. <br>
                No part of this website may be reproduced without written consent from the developer.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
