{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/components-revealjs/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="reveal">
    <div class="slides">

<!-- ======================================================== -->
      <section>
        <br>
        <h2>"Car-rent" Affairs</h2>
        <!-- p>  Current car recommenders do NOT   </p -->

        <a class="image" target="_blank">
          <img width="1352" height="756" src="static/images/ppt/current.jpg" alt="Current State">
        </a>

        <aside class="notes">
          (Hidden; hit 's' to see speaker notes).
        </aside>
      </section>
<!-- ======================================================== -->
      <!-- section>
        <h1>Demo</h1>
        <h3>Intra-city Commute</h3>
      </section -->
<!-- ======================================================== -->
      <section>
        <br>
        <h2> Analytics </h2>
        <p>  Find car that minimizes total cost of ownership </p>

        <a class="image" target="_blank">
          <img width="2182" height="200" src="static/images/ppt/main_equation.jpg" alt="Equation">
        </a>

        <aside class="notes">

        </aside>
      </section>
<!-- ======================================================== -->
      <section>
        <h2>Data</h2>
        <ul>
          <li>Government (fueleconomy.gov, EPA)</li>
          <li>Auto sites e.g. MSN Auto, Kelly Blue Book, Edmunds</li>
          <li>Online directions (Google Directions API)</li>
          <li>Assume ~2% annual increase in fuel prices (EPA )</li>
        </ul>
        <aside class="notes">

        </aside>        
      </section>
<!-- ======================================================== -->
      <section>
        <br>
        <h2>Insight: Buyers and Boardrooms</h2>
<br>
<div class="panel panel-default" opacity=0.3>
      <!-- Default panel contents -->
      <div class="panel-heading">Picking Yaris over Prius c <font color="red"> <b> saves ~$800 per year for 5 years </b> </font> </div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th></th> 
            <th  align="center" valign="center" >Fuel</th>
            <th align="center" valign="center">Depreciation</th>
            <th align="center" valign="center" >Insurance</th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Toyota Yaris</b></td>
            <td align="center" valign="center" >$4131</td>
            <td align="center" valign="center" ><font color="blue">$7593</font> </td>
            <td align="center" valign="center" >$9610</td>
          </tr>
          <tr>
            <td><b>Toyota Prius c</b></td>
            <td><font color="blue">$3051 </font> </td>
            <td>$9940</td>
            <td>$11,599</td>
          </tr>
          <tr>
            <td><b>Honda Insight</b></td>
            <td>$3349</td>
            <td>$9632</td>
            <td><font color="blue">$9062</font> </td>
          </tr>
          <tr>
            <td><b>Prius v. Insight</b></td>
            <td>$298</td>
            <td><font color="red"> <b> -$308</b> </font></td>
            <td><font color="red"> <b> -$2537 </b> </font> </td>
          </tr>          
        </tbody>
      </table>
    </div>
      </section>
<!-- ======================================================== -->      
    
      <section>
        <h2>About the developer...</h2>
        <h3>Woei Ling Leow</h3>
        <ul>
          <li>Engineer by training</li>
          <li>Doctoral: control algorithms for home heater and air-conditioner under uncertainty</li>          
          <li>Now with Energy Efficiency Standards Group, Berkeley Lab</li>
          <li>Post doctoral: Investigating the market trends of energy efficiency in refrigerators using data science</li>
          <!-- li>Or here</li -->
        </ul>
      </section>     
<!-- ======================================================== -->
      <section>
        <h1>THE END</h1>
        <h3>BY Woei Ling Leow</h3>
        <h3>www.analyticar.org</h3>
      </section>
<!-- ======================================================== -->
<!-- ======================================================== -->

      <section>
        <h1>AnalytiCar</h1>
        <h3>Pick a car, driven by data!</h3>
        <p>
          <small>Developed by <a href="http://www.analyticar.org/contact">Woei Ling Leow</a> / <a href="mailto:leowwl@gmail.com">leowwl@gmail.com</a></small>
        </p>
      </section>
      <!-- ======================================================== -->

    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- Presentation Libraries -->
  <script src="{{ url_for('static', filename='vendor/components-revealjs/lib/js/head.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/components-revealjs/js/reveal.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/reveal.js') }}"></script>
{% endblock %}
